.cti__root {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 14px;
  position: relative;
  width: 330px;
}

.cti__root * {
  box-sizing: border-box;
}

.cti__input {
  border: 1px solid rgb(220, 220, 220);
  padding: .1em .2em;
  min-height: 38px;
}

.cti__input__tags, .cti__input__input {
  display: inline-block;
  vertical-align: middle;
}

.cti__input__input {
  outline: none;
  max-width: 100%;
  padding: .6em 0;
  margin: .1em 0;
}

.cti__tag {
  background-color: white;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 3px;
  padding: .3em .7em;
  color: rgb(146, 146, 146);
  display: inline-block;
  margin: .1em .4em;
  cursor: pointer;
}

.cti__tag__content--match {
  color: black;
  font-weight: bold;
}

.cti__tag__delete, .cti__tag__content, .cti__tag__content > span {
  display: inline-block;
  vertical-align: middle;
}

.cti__tag__delete {
  background-color: transparent;
  padding: 0 0 0 .3em;
  margin: -4px 0 0 0;
  color: rgb(146, 146, 146);
  font-size: 1.5em;
  border: none;
}

.cti__tag__content > span {
  margin-top: -3px;
}

.cti__panel {
  position: absolute;
  background: white;
  border: 1px solid rgb(220, 220, 220);
  border-top: none;
  width: 100%;
}


.cti__category__add-item {
  background: transparent;
  border: none;
  color: rgb(28, 99, 166);
  font-size: 1em;
}

.cti-selected {
  background-color: rgb(229, 241, 255);
  border: 1px solid rgb(207, 219, 234);
  border-radius: 3px;
}
